@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}
.animate-float {
  animation: float 2.5s ease-in-out infinite;
}

@keyframes glitch {
  0% { text-shadow: 2px 0 red; }
  25% { text-shadow: -2px 0 cyan; }
  50% { text-shadow: 2px 0 lime; }
  75% { text-shadow: -2px 0 purple; }
  100% { text-shadow: 0 0 white; }
}
.glitch:hover {
  animation: glitch 0.5s infinite;
}
@keyframes fadeInOut {
  0%, 100% { opacity: 0; transform: translateY(0); }
  50% { opacity: 0.1; transform: translateY(-10px); }
}

.background-text {
  position: absolute;
  font-size: 6rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.03);
  animation: fadeInOut 8s infinite;
  white-space: nowrap;
  pointer-events: none;
}
